.container {
  max-width: 600px;
  margin: 0 auto;
}

button {
  margin: 5px;
  margin-left: 10px;
}

body {
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

li {
  margin-bottom: 10px;
}